Repository kubernetes/ingress-gce, pull requests merged in 2019-12, with the labels that each got.

#961 Fix default backend port bug for ilb neg
  cmd/glbc/app/init.go
  pkg/context/context.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS

#962 Cherry pick #961 [Fix default backend port bug for neg ilb] into release-1.8
  cmd/glbc/app/init.go
  pkg/context/context.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS

#963 Emit events only for non-nil ingresses
  pkg/controller/controller.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS

#964 Cherrypick #963[Emit events only for non-nil ingresses] into release 1.8
  pkg/controller/controller.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS

#967 Use kube-system UID instead of its hash to compute resource suffix
  pkg/utils/namer/frontendnamer.go
  pkg/utils/namer/frontendnamer_test.go
Labels: approved, cncf-cla: yes, lgtm, needs-ok-to-test, size/L

#968 Cherrypick #967[Use kube-system UID instead of its hash to compute resource suffix] into release 1.8
  pkg/utils/namer/frontendnamer.go
  pkg/utils/namer/frontendnamer_test.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#966 Use type LoadBalancer instead of string
  pkg/loadbalancers/l7.go
  pkg/loadbalancers/l7s.go
  pkg/loadbalancers/l7s_test.go
  pkg/loadbalancers/loadbalancers_test.go
  pkg/loadbalancers/url_maps_test.go
  pkg/utils/namer/frontendnamer.go
  pkg/utils/namer/frontendnamer_test.go
  pkg/utils/namer/interfaces.go
  pkg/utils/namer/namer.go
  pkg/utils/namer/namer_test.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#970 Add createIlbSubnet flag to ilb e2e tests
  cmd/e2e-test/ilb_test.go
  cmd/e2e-test/main_test.go
  pkg/e2e/fixtures.go
  pkg/e2e/framework.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#971 e2e test run.sh add network
  cmd/e2e-test/main_test.go
  cmd/e2e-test/run.sh
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/S

#969 RegionalGCLBForVIP() Fix
  cmd/e2e-test/ilb_test.go
  cmd/e2e-test/run.sh
  pkg/fuzz/gcp.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/S
