Repository kubernetes/ingress-gce, pull requests merged in 2019-07, with the labels that each got.

#796 HealthChecks switch from fakes to fakeGCE
  go.mod
  go.sum
  pkg/backends/integration_test.go
  pkg/backends/syncer_test.go
  pkg/healthchecks/fakes.go
  pkg/healthchecks/healthchecks_test.go
  vendor/github.com/GoogleCloudPlatform/k8s-cloud-provider/pkg/cloud/mock/mock.go
  vendor/modules.txt
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#790 More composite updates for integration
  pkg/composite/composite.go
  pkg/composite/gen.go
  pkg/composite/gen/main.go
  pkg/composite/utils.go
  pkg/composite/utils_test.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#792 Added NoSchedule effect to GetNodeConditionPredicate
  pkg/utils/utils.go
  pkg/utils/utils_test.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#788 Integrate composite types into controller
  cmd/glbc/main.go
  pkg/backends/backends.go
  pkg/backends/features/features.go
  pkg/backends/ig_linker.go
  pkg/backends/ig_linker_test.go
  pkg/backends/interfaces.go
  pkg/backends/neg_linker.go
  pkg/backends/syncer.go
  pkg/backends/syncer_test.go
  pkg/composite/gen/main.go
  pkg/composite/utils.go
  pkg/composite/utils_test.go
  pkg/controller/controller.go
  pkg/firewalls/controller.go
  pkg/firewalls/firewalls.go
  pkg/healthchecks/healthchecks.go
  pkg/healthchecks/interfaces.go
  pkg/loadbalancers/certificates.go
  pkg/loadbalancers/features/doc.go
  pkg/loadbalancers/features/features.go
  pkg/loadbalancers/features/features_test.go
  pkg/loadbalancers/forwarding_rules.go
  pkg/loadbalancers/interfaces.go
  pkg/loadbalancers/l7.go
  pkg/loadbalancers/l7s.go
  pkg/loadbalancers/loadbalancers_test.go
  pkg/loadbalancers/target_proxies.go
  pkg/loadbalancers/url_maps.go
  pkg/loadbalancers/url_maps_test.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XXL

#799 Update cluster-setup.md with the right instructions for deleting the ingress-gce pod
  docs/contrib/cluster-setup.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#802 dump events in sandbox
  pkg/e2e/framework.go
  pkg/e2e/sandbox.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#789 Add support for L7-ILB (take 2)
  pkg/annotations/ingress.go
  pkg/backends/backends.go
  pkg/backends/features/features.go
  pkg/backends/ig_linker.go
  pkg/backends/interfaces.go
  pkg/backends/neg_linker.go
  pkg/backends/syncer.go
  pkg/backends/syncer_test.go
  pkg/composite/utils.go
  pkg/context/context.go
  pkg/controller/controller.go
  pkg/controller/utils.go
  pkg/firewalls/controller.go
  pkg/firewalls/firewalls.go
  pkg/firewalls/firewalls_test.go
  pkg/firewalls/interfaces.go
  pkg/flags/flags.go
  pkg/healthchecks/healthchecks.go
  pkg/healthchecks/healthchecks_test.go
  pkg/healthchecks/interfaces.go
  pkg/loadbalancers/certificates.go
  pkg/loadbalancers/features/features.go
  pkg/loadbalancers/features/features_test.go
  pkg/loadbalancers/features/l7ilb.go
  pkg/loadbalancers/forwarding_rules.go
  pkg/loadbalancers/l7.go
  pkg/loadbalancers/l7s.go
  pkg/loadbalancers/loadbalancers_test.go
  pkg/loadbalancers/target_proxies.go
  pkg/loadbalancers/url_maps.go
  pkg/utils/serviceport.go
  pkg/utils/utils.go
  pkg/utils/utils_test.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XXL
