Repository kubernetes/ingress-gce, pull requests merged in 2019-11, with the labels that each got.

#925 remove transaction syncer reconciliation
  pkg/neg/syncers/transaction.go
  pkg/neg/syncers/transaction_table.go
  pkg/neg/syncers/transaction_table_test.go
  pkg/neg/syncers/transaction_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#913 fix golint failures
  pkg/common/operator/service.go
  pkg/composite/utils.go
  pkg/e2e/fixtures.go
  pkg/fuzz/default_validator_env.go
  pkg/fuzz/features/neg.go
  pkg/fuzz/gcp.go
  pkg/instances/fakes.go
  pkg/loadbalancers/features/features.go
  pkg/loadbalancers/features/l7ilb.go
  pkg/loadbalancers/l7.go
  pkg/neg/syncers/utils.go
  pkg/utils/namer/namer.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#917 NEG Namedport Fix
  pkg/neg/controller.go
  pkg/neg/controller_test.go
  pkg/neg/manager.go
  pkg/neg/manager_test.go
  pkg/neg/readiness/poller_test.go
  pkg/neg/readiness/utils_test.go
  pkg/neg/syncers/syncer_test.go
  pkg/neg/syncers/transaction.go
  pkg/neg/syncers/transaction_test.go
  pkg/neg/syncers/utils.go
  pkg/neg/syncers/utils_test.go
  pkg/neg/types/types.go
  pkg/neg/types/types_test.go
  pkg/neg/utils.go
  pkg/neg/utils_test.go
Labels: approved, cncf-cla: yes, lgtm, size/XL

#926 Modify NEG libraries to use composite types.
  pkg/backends/interfaces.go
  pkg/backends/neg_linker.go
  pkg/backends/neg_linker_test.go
  pkg/composite/gen.go
  pkg/composite/gen/main.go
  pkg/neg/manager.go
  pkg/neg/manager_test.go
  pkg/neg/readiness/poller.go
  pkg/neg/readiness/poller_test.go
  pkg/neg/syncers/transaction.go
  pkg/neg/syncers/transaction_test.go
  pkg/neg/syncers/utils.go
  pkg/neg/syncers/utils_test.go
  pkg/neg/types/cloudprovideradapter.go
  pkg/neg/types/cloudprovideradapter_test.go
  pkg/neg/types/fakes.go
  pkg/neg/types/interfaces.go
  pkg/neg/types/mock.go
  pkg/neg/types/types.go
  pkg/utils/serviceport.go
Labels: approved, cncf-cla: yes, lgtm, size/XL

#934 Use Alpha API for hybrid NEGs.
  pkg/neg/types/types.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS

#935 add configmap based config
  cmd/glbc/main.go
  docs/deploy/resources/configmap-based-config.yaml
  pkg/cmconfig/config.go
  pkg/cmconfig/config_test.go
  pkg/cmconfig/controller.go
  pkg/cmconfig/controller_test.go
  pkg/context/context.go
  pkg/controller/controller_test.go
  pkg/controller/translator/translator_test.go
  pkg/firewalls/controller_test.go
  pkg/flags/flags.go
  pkg/neg/controller.go
  pkg/neg/controller_test.go
  pkg/neg/manager.go
  pkg/neg/manager_test.go
  pkg/neg/readiness/reflector_test.go
  pkg/neg/syncers/syncer_test.go
  pkg/neg/syncers/transaction_test.go
  pkg/neg/syncers/utils.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XL

#932 Fix a bug in NEG controller namedport handling
  pkg/neg/controller.go
  pkg/neg/controller_test.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#936 iterate more than one backend for backend service status
  pkg/backends/backends.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#894 Bugfix: Delete unused GCE load-balancer resources on ingress spec change
  pkg/annotations/ingress.go
  pkg/flags/flags.go
  pkg/loadbalancers/addresses.go
  pkg/loadbalancers/l7.go
  pkg/loadbalancers/l7s_test.go
  pkg/loadbalancers/loadbalancers_test.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#938 Change return type of AggregatedListNetworkEndpointGroup in cloudprovideradapter.
  pkg/neg/manager.go
  pkg/neg/manager_test.go
  pkg/neg/syncers/transaction_test.go
  pkg/neg/types/cloudprovideradapter.go
  pkg/neg/types/cloudprovideradapter_test.go
  pkg/neg/types/fakes.go
  pkg/neg/types/interfaces.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#927 enable readiness reflector for Standalone NEG
  pkg/neg/controller.go
  pkg/neg/readiness/poller.go
  pkg/neg/readiness/poller_test.go
  pkg/neg/readiness/reflector.go
  pkg/neg/readiness/reflector_test.go
  pkg/neg/types/mock.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#852 Update e2e framework for ILB - Part 2
  cmd/e2e-test/affinity_test.go
  cmd/e2e-test/app_protocols_test.go
  cmd/e2e-test/basic_https_test.go
  cmd/e2e-test/basic_test.go
  cmd/e2e-test/cdn_test.go
  cmd/e2e-test/customrequestheaders_test.go
  cmd/e2e-test/draining_test.go
  cmd/e2e-test/finalizer_test.go
  cmd/e2e-test/iap_test.go
  cmd/e2e-test/ilb_test.go
  cmd/e2e-test/neg_test.go
  cmd/e2e-test/security_policy_test.go
  cmd/e2e-test/timeout_test.go
  cmd/e2e-test/upgrade_test.go
  cmd/fuzzer/app/validate.go
  pkg/fuzz/feature.go
  pkg/fuzz/gcp.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#942 Disabling ASM mode if the Istio CRD is not available.
  pkg/cmconfig/config.go
  pkg/cmconfig/config_test.go
  pkg/cmconfig/controller.go
  pkg/cmconfig/controller_test.go
  pkg/context/context.go
  pkg/flags/flags.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#939 add upgrade test for standalone neg
  cmd/e2e-test/neg_test.go
  cmd/e2e-test/upgrade/neg.go
  cmd/e2e-test/upgrade_test.go
  pkg/e2e/interfaces.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#943 change to use AppsV1 for deployment API call
  pkg/e2e/fixtures.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#944 make Generic Upgrade test run in parallel
  cmd/e2e-test/upgrade_test.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#941 Add e2e test for connection timeout with l7-ilb
  cmd/e2e-test/timeout_test.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#940 Add session affinity e2e tests for l7-ilb
  cmd/e2e-test/affinity_test.go
  pkg/fuzz/features/affinity.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#892 Add V2 frontend namer
  cmd/glbc/main.go
  pkg/context/context.go
  pkg/controller/controller.go
  pkg/controller/controller_test.go
  pkg/controller/translator/translator_test.go
  pkg/firewalls/controller_test.go
  pkg/flags/flags.go
  pkg/loadbalancers/interfaces.go
  pkg/loadbalancers/l7s.go
  pkg/loadbalancers/l7s_test.go
  pkg/loadbalancers/loadbalancers_test.go
  pkg/loadbalancers/url_maps_test.go
  pkg/neg/controller_test.go
  pkg/neg/manager_test.go
  pkg/neg/readiness/reflector_test.go
  pkg/neg/syncers/syncer_test.go
  pkg/neg/syncers/transaction_test.go
  pkg/sync/interfaces.go
  pkg/sync/sync.go
  pkg/test/utils.go
  pkg/utils/common/common.go
  pkg/utils/common/finalizer.go
  pkg/utils/namer/frontendnamer.go
  pkg/utils/namer/frontendnamer_test.go
  pkg/utils/namer/utils.go
  pkg/utils/namer/utils_test.go
  pkg/utils/utils.go
  pkg/utils/utils_test.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XXL

#946 Fix return value
  pkg/loadbalancers/l7s.go
Labels: approved, cncf-cla: yes, lgtm, needs-ok-to-test, size/XS

#945 Cleanup unused functions
  pkg/loadbalancers/l7s.go
  pkg/loadbalancers/loadbalancers_test.go
  pkg/utils/namer/frontendnamer.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#947 Cherrypick #946 into Release 1.7
  pkg/loadbalancers/l7s.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS

#948 Fix naming scheme on creation
  cmd/glbc/main.go
  pkg/controller/controller.go
  pkg/sync/sync.go
  pkg/utils/common/finalizer.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#949 Cherrypick #948[Fix naming scheme on creation] into release 1.8
  cmd/glbc/main.go
  pkg/controller/controller.go
  pkg/sync/sync.go
  pkg/utils/common/finalizer.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#950 Error out on invalid ingress frontend configuration
  pkg/loadbalancers/l7.go
  pkg/loadbalancers/loadbalancers_test.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/S

#953 Migrate Neg validator to use frontend namer factory
  pkg/fuzz/default_validator_env.go
  pkg/fuzz/features/neg.go
  pkg/fuzz/validator.go
  pkg/fuzz/validator_test.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#954 Cherrypick #950 into release 1.8
  pkg/loadbalancers/l7.go
  pkg/loadbalancers/loadbalancers_test.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/S

#951 Migrate upgrade tests to use the upgrade framework
  cmd/e2e-test/basic_https_test.go
  cmd/e2e-test/basic_test.go
  cmd/e2e-test/finalizer_test.go
  cmd/e2e-test/neg_test.go
  cmd/e2e-test/upgrade/basic_http.go
  cmd/e2e-test/upgrade/neg.go
  cmd/e2e-test/upgrade_test.go
  pkg/e2e/helpers.go
  pkg/e2e/interfaces.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XL

#952 Migrate Finalizer upgrade test to use the upgrade framework
  cmd/e2e-test/finalizer_test.go
  cmd/e2e-test/upgrade/basic_http.go
  cmd/e2e-test/upgrade/finalizer.go
  cmd/e2e-test/upgrade_test.go
  pkg/e2e/helpers.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#957 Bugfix: Fix service name in upgrade test
  cmd/e2e-test/upgrade/basic_http.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS

#956 Update finalizer tests to validate against an ingress finalizer
  cmd/e2e-test/finalizer_test.go
  cmd/e2e-test/upgrade/finalizer.go
  pkg/e2e/helpers.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#958 Bugfix: Fix ingress passed to postUpgrade
  cmd/e2e-test/upgrade/basic_http.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/S

#921 Add e2e tests for v2 frontend namer
  cmd/e2e-test/upgrade/basic_http.go
  cmd/e2e-test/upgrade/v2frontendnamer.go
  cmd/e2e-test/upgrade_test.go
  cmd/e2e-test/v2frontendnamer_test.go
  cmd/fuzzer/app/validate.go
  pkg/e2e/helpers.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#955 Add NEG mocks for alpha API and a new transactions test
  pkg/composite/gen.go
  pkg/composite/gen_test.go
  pkg/composite/meta/meta.go
  pkg/neg/readiness/poller_test.go
  pkg/neg/syncers/transaction_test.go
  pkg/neg/syncers/utils_test.go
  pkg/neg/types/mock.go
Labels: approved, cncf-cla: yes, lgtm, size/XL
