Repository kubernetes/ingress-gce, pull requests merged in 2020-08, with the labels that each got.

#1197 Use NEG CRs for NEG Garbage Collection
  pkg/neg/manager.go
  pkg/neg/manager_test.go
  pkg/neg/types/types.go
  pkg/utils/common/finalizer.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#1198 Refactor tls package into translator
  pkg/controller/controller.go
  pkg/controller/controller_test.go
  pkg/loadbalancers/certificates.go
  pkg/loadbalancers/l7.go
  pkg/loadbalancers/loadbalancers_test.go
  pkg/tls/tls.go
  pkg/translator/translator.go
  pkg/translator/translator_test.go
Labels: cncf-cla: yes, ok-to-test, size/L

#1202 Add NegName to syncer key
  pkg/neg/manager.go
  pkg/neg/manager_test.go
  pkg/neg/syncers/syncer.go
  pkg/neg/syncers/syncer_test.go
  pkg/neg/syncers/transaction.go
  pkg/neg/syncers/transaction_test.go
  pkg/neg/types/types.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#1204 Allow modifying protocol in L4 ILB service
  pkg/backends/backends.go
  pkg/loadbalancers/forwarding_rules.go
  pkg/loadbalancers/l4.go
  pkg/loadbalancers/l4_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#1176 Compute number of L4 ILBs in error and success state
  pkg/l4/l4controller.go
  pkg/loadbalancers/l4.go
  pkg/loadbalancers/l4_test.go
  pkg/metrics/features.go
  pkg/metrics/metrics.go
  pkg/metrics/metrics_test.go
  pkg/metrics/types.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#1160 Update generated code for frontendconfig CRD
  cmd/e2e-test/sslpolicy_test.go
  pkg/apis/frontendconfig/v1beta1/zz_generated.openapi.go
  pkg/frontendconfig/client/clientset/versioned/clientset.go
  pkg/frontendconfig/client/clientset/versioned/typed/frontendconfig/v1beta1/fake/fake_frontendconfig.go
  pkg/frontendconfig/client/clientset/versioned/typed/frontendconfig/v1beta1/frontendconfig.go
  pkg/frontendconfig/client/informers/externalversions/frontendconfig/v1beta1/frontendconfig.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#1206 Implement support for HTTPS Redirects
  pkg/annotations/ingress.go
  pkg/apis/frontendconfig/v1beta1/types.go
  pkg/apis/frontendconfig/v1beta1/zz_generated.deepcopy.go
  pkg/apis/frontendconfig/v1beta1/zz_generated.openapi.go
  pkg/loadbalancers/l7.go
  pkg/loadbalancers/loadbalancers_test.go
  pkg/loadbalancers/target_proxies.go
  pkg/loadbalancers/url_maps.go
  pkg/translator/translator.go
  pkg/translator/translator_test.go
  pkg/utils/namer/frontendnamer.go
  pkg/utils/namer/interfaces.go
  pkg/utils/namer/namer.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#1207 Add e2e tests for neg naming and neg crd
  cmd/e2e-test/neg_test.go
  pkg/e2e/framework.go
  pkg/e2e/helpers.go
  pkg/e2e/sandbox.go
  pkg/fuzz/gcp.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#1212 Fix negv1beta1 import
  pkg/svcneg/svcneg.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS

#1213 Cherry pick #1212 [Fix negv1beta1 import]
  pkg/svcneg/svcneg.go
Labels: ok-to-test, size/XS

#1209 Expose custom health check ports in the firewall
  cmd/e2e-test/healthcheck_test.go
  pkg/firewalls/controller.go
  pkg/firewalls/controller_test.go
  pkg/firewalls/firewalls_test.go
  pkg/utils/utils.go
Labels: cncf-cla: yes, ok-to-test, size/M

#1217 Increate ASM test timeout
  cmd/e2e-test/asm_test.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#1218 Validation generation
  pkg/apis/svcneg/v1beta1/types.go
  pkg/apis/svcneg/v1beta1/zz_generated.openapi.go
  pkg/crd/validation.go
  pkg/crd/validation_test.go
  pkg/neg/manager_test.go
  pkg/neg/syncers/transaction_test.go
  pkg/neg/syncers/utils.go
  pkg/neg/syncers/utils_test.go
  pkg/svcneg/client/clientset/versioned/typed/svcneg/v1beta1/fake/fake_servicenetworkendpointgroup.go
  pkg/svcneg/client/clientset/versioned/typed/svcneg/v1beta1/servicenetworkendpointgroup.go
Labels: cncf-cla: yes, ok-to-test, size/L

#1220 Cherry-pick #1209 [Expose custom health check ports in the firewall] into release-1-9
  pkg/firewalls/controller.go
  pkg/firewalls/controller_test.go
  pkg/utils/utils.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#1223 Fix internal ingress static IP bug
  pkg/loadbalancers/forwarding_rules.go
  pkg/loadbalancers/l7.go
  pkg/translator/translator.go
  pkg/translator/translator_test.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#1222 Neg crd metrics
  pkg/metrics/features.go
  pkg/metrics/metrics.go
  pkg/metrics/metrics_test.go
  pkg/metrics/types.go
  pkg/neg/controller.go
  pkg/neg/manager.go
  pkg/neg/metrics/metrics.go
  pkg/neg/syncers/transaction.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#1224 Increase NEG Poll Timeout and use subtests in ASM tests
  cmd/e2e-test/asm_test.go
  pkg/e2e/helpers.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#1225 Bugfix http forwarding rule create workflow
  pkg/loadbalancers/forwarding_rules.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS

#1229 Cherry Pick #1222 [Neg crd metrics]
  pkg/metrics/features.go
  pkg/metrics/metrics.go
  pkg/metrics/metrics_test.go
  pkg/metrics/types.go
  pkg/neg/controller.go
  pkg/neg/manager.go
  pkg/neg/metrics/metrics.go
  pkg/neg/syncers/transaction.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#1228 Cherry Pick #1218 [Validation generation]
  pkg/apis/svcneg/v1beta1/types.go
  pkg/apis/svcneg/v1beta1/zz_generated.openapi.go
  pkg/crd/validation.go
  pkg/crd/validation_test.go
  pkg/neg/manager_test.go
  pkg/neg/syncers/transaction_test.go
  pkg/neg/syncers/utils.go
  pkg/neg/syncers/utils_test.go
  pkg/svcneg/client/clientset/versioned/typed/svcneg/v1beta1/fake/fake_servicenetworkendpointgroup.go
  pkg/svcneg/client/clientset/versioned/typed/svcneg/v1beta1/servicenetworkendpointgroup.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#1230 Enable neg crd by default
  pkg/flags/flags.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS

#1226 Cherrypick #1225[Bugfix http forwarding rule create workflow] into release-10
  pkg/loadbalancers/forwarding_rules.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS

#1234 fix TestASM test flakes
  cmd/e2e-test/asm_test.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1235 Cherry Pick #1230 [Enable neg crd by default]
  pkg/flags/flags.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS

#1210 Add e2e test for internal static IP
  cmd/e2e-test/basic_test.go
  cmd/e2e-test/ilb_test.go
  pkg/e2e/fixtures.go
  pkg/fuzz/helpers.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#1231 Cherry-pick #1209 [Expose custom health check ports in the firewall] into release-1-10
  cmd/e2e-test/healthcheck_test.go
  pkg/firewalls/controller.go
  pkg/firewalls/controller_test.go
  pkg/firewalls/firewalls_test.go
  pkg/utils/utils.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#1232 Cherry-pick #1223 [Fix internal ingress static IP bug] into release-1-10
  pkg/loadbalancers/forwarding_rules.go
  pkg/loadbalancers/l7.go
  pkg/translator/translator.go
  pkg/translator/translator_test.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#1233 Add missing features to ingress metrics
  pkg/controller/controller.go
  pkg/metrics/features.go
  pkg/metrics/metrics.go
  pkg/metrics/metrics_test.go
  pkg/metrics/types.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#1237 Cherry-pick #1233 [Add missing features to ingress metrics] into release-1-9
  pkg/controller/controller.go
  pkg/metrics/features.go
  pkg/metrics/metrics.go
  pkg/metrics/metrics_test.go
  pkg/metrics/types.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#1239 Add HTTPS Redirects to Metrics
  pkg/metrics/features.go
  pkg/metrics/metrics_test.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#1238 Cherry-pick #1233 [Add missing features to ingress metrics] into release-1-10
  pkg/controller/controller.go
  pkg/metrics/features.go
  pkg/metrics/metrics.go
  pkg/metrics/metrics_test.go
  pkg/metrics/types.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#1242 Cherry-pick #1239 [Add HTTPS Redirects to Metrics] into release-1-10
  pkg/metrics/features.go
  pkg/metrics/metrics_test.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#1241 Lookup forwarding rule before deletion on L4 ILB protocol change.
  pkg/loadbalancers/forwarding_rules.go
  pkg/loadbalancers/l4.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#1243 Cherrypick PR 1241(Lookup forwarding rule before deletion on protocol change) into release-1.10
  pkg/loadbalancers/forwarding_rules.go
  pkg/loadbalancers/l4.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#1236 Add resource annotations for L4 ILB services.
  pkg/annotations/service.go
  pkg/annotations/service_test.go
  pkg/l4/l4controller.go
  pkg/l4/l4controller_test.go
  pkg/loadbalancers/l4.go
  pkg/loadbalancers/l4_test.go
  pkg/utils/patch.go
  pkg/utils/utils.go
Labels: approved, cncf-cla: yes, lgtm, size/XL
