Repository kubernetes/ingress-gce, pull requests merged in 2021-12, with the labels that each got.

#1625 Fix firewall rule deletion in L4 LBs
  pkg/loadbalancers/l4.go
  pkg/loadbalancers/l4_test.go
  pkg/loadbalancers/l4netlb.go
  pkg/loadbalancers/l4netlb_test.go
  pkg/test/gcehooks.go
Labels: cncf-cla: yes, size/L, lgtm, needs-ok-to-test, approved

#1616 Ensure static ip for NetLB services
  pkg/l4netlb/l4netlbcontroller_test.go
  pkg/loadbalancers/forwarding_rules.go
  pkg/test/gcehooks.go
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test

#1630 [1.13] Fix ILB HC firewall rule deletion (CP PR #1625)
  pkg/loadbalancers/l4.go
  pkg/loadbalancers/l4_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test

#1631 [1.14] Fix ILB HC firewall rule deletion (CP PR #1625)
  pkg/loadbalancers/l4.go
  pkg/loadbalancers/l4_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test

#1623 Fix setup-local.sh for long cluster names
  hack/setup-local.sh
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test

#1628 Refactor, extract instancePool, translator
  cmd/glbc/main.go
  pkg/backends/ig_linker_test.go
  pkg/backends/integration_test.go
  pkg/backends/regional_ig_linker_test.go
  pkg/context/context.go
  pkg/controller/controller.go
  pkg/controller/controller_test.go
  pkg/controller/node.go
  pkg/controller/translator/translator.go
  pkg/controller/translator/translator_test.go
  pkg/controller/utils_test.go
  pkg/firewalls/controller.go
  pkg/instances/instances.go
  pkg/instances/instances_test.go
  pkg/instances/interfaces.go
  pkg/l4/l4controller.go
  pkg/l4netlb/l4netlbcontroller.go
  pkg/l4netlb/l4netlbcontroller_test.go
  pkg/loadbalancers/loadbalancers_test.go
Labels: cncf-cla: yes, size/L, lgtm, approved, ok-to-test

#1637 Reformat to follow go style
  pkg/instances/instances.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test

#1618 Clean up health check on service deletion
  pkg/l4/l4controller_test.go
  pkg/l4netlb/l4netlbcontroller_test.go
  pkg/loadbalancers/l4.go
  pkg/loadbalancers/l4_test.go
  pkg/loadbalancers/l4netlb.go
Labels: cncf-cla: yes, size/L, lgtm, approved, ok-to-test

#1635 Extract NodeController from l7 lb
  cmd/glbc/main.go
  pkg/controller/controller.go
  pkg/controller/node.go
Labels: cncf-cla: yes, lgtm, size/S, approved, ok-to-test

#1629 Extract common parts for L4 LoadBalancers - Part 1
  cmd/glbc/main.go
  pkg/l4lb/l4controller.go
  pkg/l4lb/l4controller_test.go
  pkg/l4lb/l4lbcommon.go
  pkg/l4lb/l4netlbcontroller.go
  pkg/l4lb/l4netlbcontroller_test.go
  pkg/l4lb/metrics/metrics.go
  pkg/l4lb/ports.go
  pkg/l4lb/ports_test.go
  pkg/loadbalancers/l4.go
  pkg/loadbalancers/l4_test.go
  pkg/loadbalancers/l4netlb.go
  pkg/loadbalancers/l4netlb_test.go
  pkg/loadbalancers/l4syncresult.go
  pkg/utils/loadbalancers/l4annotations.go
Labels: cncf-cla: yes, size/L, lgtm, approved, ok-to-test

#1634 Migrate gce-ingress to configmaps-leases leaderelection lock
  cmd/glbc/main.go
Labels: cncf-cla: yes, lgtm, size/XS, approved

#1644 do not remove NEG from backend service when cluster shrinks
  pkg/backends/neg_linker.go
  pkg/backends/neg_linker_test.go
Labels: cncf-cla: yes, size/L, lgtm, approved

#1632 Rename NetLB forwarding rule
  pkg/l4lb/l4netlbcontroller_test.go
  pkg/loadbalancers/forwarding_rules.go
  pkg/loadbalancers/l4netlb.go
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test

#1641 Extract common parts for L4 LoadBalancers - Part 2
  cmd/glbc/main.go
  pkg/l4lb/l4controller.go
  pkg/l4lb/l4controller_test.go
  pkg/l4lb/l4netlbcontroller.go
  pkg/l4lb/l4netlbcontroller_test.go
  pkg/loadbalancers/l4.go
  pkg/loadbalancers/l4_test.go
  pkg/loadbalancers/l4netlb.go
  pkg/loadbalancers/l4netlb_test.go
  pkg/loadbalancers/l4syncresult.go
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test

#1643 Fix instance selection for node Tag
  hack/setup-local.sh
Labels: cncf-cla: yes, lgtm, size/S, needs-ok-to-test, approved

#1642 External and Internal Load Balancers backend should use the same k8s2 name convention
  pkg/l4lb/l4controller_test.go
  pkg/l4lb/l4netlbcontroller_test.go
  pkg/loadbalancers/l4.go
  pkg/loadbalancers/l4_test.go
  pkg/loadbalancers/l4netlb.go
  pkg/loadbalancers/l4netlb_test.go
  pkg/neg/types/interfaces.go
  pkg/neg/types/types.go
  pkg/neg/types/types_test.go
  pkg/test/utils.go
  pkg/utils/namer/interfaces.go
  pkg/utils/namer/l4_namer.go
  pkg/utils/namer/l4_namer_test.go
  pkg/utils/namer/namer.go
  pkg/utils/serviceport.go
Labels: cncf-cla: yes, size/L, lgtm, approved, ok-to-test
