Repository kubernetes/ingress-gce, pull requests merged in 2021-03, with the labels that each got.

#1374 Do not claim custom named negs with empty desc
  pkg/neg/manager.go
  pkg/neg/manager_test.go
  pkg/neg/syncers/transaction.go
  pkg/neg/syncers/transaction_test.go
  pkg/neg/syncers/utils.go
  pkg/neg/syncers/utils_test.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#1375 Cherrypick #1374 to release-1.10: Do not claim custom named negs with empty desc
  pkg/neg/manager.go
  pkg/neg/manager_test.go
  pkg/neg/syncers/transaction.go
  pkg/neg/syncers/transaction_test.go
  pkg/neg/syncers/utils.go
  pkg/neg/syncers/utils_test.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#1377 Ignore temporary ProcessServiceFailed error events
  cmd/e2e-test/neg_test.go
  pkg/e2e/helpers.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/S

#1378 Set GCPIngressParams plural name
  hack/update-codegen.sh
  pkg/ingparams/client/clientset/versioned/typed/ingparams/v1beta1/fake/fake_gcpingressparams.go
  pkg/ingparams/client/clientset/versioned/typed/ingparams/v1beta1/fake/fake_ingparams_client.go
  pkg/ingparams/client/clientset/versioned/typed/ingparams/v1beta1/gcpingressparams.go
  pkg/ingparams/client/clientset/versioned/typed/ingparams/v1beta1/ingparams_client.go
  pkg/ingparams/client/informers/externalversions/generic.go
  pkg/ingparams/client/informers/externalversions/ingparams/v1beta1/gcpingressparams.go
  pkg/ingparams/client/informers/externalversions/ingparams/v1beta1/interface.go
  pkg/ingparams/client/listers/ingparams/v1beta1/gcpingressparams.go
  pkg/ingparams/ingparams.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#1368 Service Attachment Creations and Update
  cmd/glbc/main.go
  pkg/context/context.go
  pkg/controller/controller_test.go
  pkg/controller/translator/translator_test.go
  pkg/firewalls/controller_test.go
  pkg/l4/l4controller_test.go
  pkg/psc/controller.go
  pkg/psc/controller_test.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XL

#1384 update to use CRD v1
  pkg/context/context.go
  pkg/e2e/framework.go
  pkg/e2e/helpers.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#1381 Service Attachment Garbage Collection
  pkg/context/context.go
  pkg/psc/controller.go
  pkg/psc/controller_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#1385 Run PSC Controller when enabled
  cmd/glbc/main.go
  pkg/context/context.go
  pkg/psc/controller.go
Labels: approved, cncf-cla: yes, lgtm, size/L
