Repository kubernetes/ingress-gce, pull requests merged in 2021-02, with the labels that each got.

#1361 Crd events
  pkg/neg/controller.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS

#1362 Initialize a scheme specific for neg controller
  pkg/neg/controller.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/S

#1363 Ignore 401 Bad request errors during NEG GC
  pkg/neg/manager.go
  pkg/neg/manager_test.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#1364 Cherrypick #1362 & #1361 Add NEG CRD scheme to event recorder
  pkg/neg/controller.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/S

#1365 Cherrypick #1363 Neg 400 gc release 1.10
  pkg/neg/manager.go
  pkg/neg/manager_test.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#1147 Skip garbage collection for invalid frontend resource names
  pkg/loadbalancers/l7s.go
  pkg/loadbalancers/loadbalancers_test.go
  pkg/translator/translator_test.go
  pkg/utils/namer/frontendnamer.go
  pkg/utils/namer/frontendnamer_test.go
  pkg/utils/namer/interfaces.go
  pkg/utils/namer/utils.go
  pkg/utils/namer/utils_test.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#1373 Remove k8s.io/kubernetes dependencies in API packages
  pkg/apis/serviceattachment/v1alpha1/types.go
  pkg/apis/serviceattachment/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/serviceattachment/v1alpha1/zz_generated.openapi.go
  pkg/apis/svcneg/v1beta1/types.go
  pkg/neg/syncers/transaction.go
  pkg/neg/syncers/transaction_test.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#1366 Switch svcAttachment.resourceReference to resourceRef
  pkg/apis/serviceattachment/v1alpha1/types.go
  pkg/apis/serviceattachment/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/serviceattachment/v1alpha1/zz_generated.openapi.go
  pkg/crd/validation.go
  pkg/serviceattachment/client/clientset/versioned/clientset.go
  pkg/serviceattachment/client/clientset/versioned/doc.go
  pkg/serviceattachment/client/clientset/versioned/fake/clientset_generated.go
  pkg/serviceattachment/client/clientset/versioned/fake/doc.go
  pkg/serviceattachment/client/clientset/versioned/fake/register.go
  pkg/serviceattachment/client/clientset/versioned/scheme/doc.go
  pkg/serviceattachment/client/clientset/versioned/scheme/register.go
  pkg/serviceattachment/client/clientset/versioned/typed/serviceattachment/v1alpha1/doc.go
  pkg/serviceattachment/client/clientset/versioned/typed/serviceattachment/v1alpha1/fake/doc.go
  pkg/serviceattachment/client/clientset/versioned/typed/serviceattachment/v1alpha1/fake/fake_serviceattachment.go
  pkg/serviceattachment/client/clientset/versioned/typed/serviceattachment/v1alpha1/fake/fake_serviceattachment_client.go
  pkg/serviceattachment/client/clientset/versioned/typed/serviceattachment/v1alpha1/generated_expansion.go
  pkg/serviceattachment/client/clientset/versioned/typed/serviceattachment/v1alpha1/serviceattachment.go
  pkg/serviceattachment/client/clientset/versioned/typed/serviceattachment/v1alpha1/serviceattachment_client.go
  pkg/serviceattachment/client/informers/externalversions/factory.go
  pkg/serviceattachment/client/informers/externalversions/generic.go
  pkg/serviceattachment/client/informers/externalversions/internalinterfaces/factory_interfaces.go
  pkg/serviceattachment/client/informers/externalversions/serviceattachment/interface.go
  pkg/serviceattachment/client/informers/externalversions/serviceattachment/v1alpha1/interface.go
  pkg/serviceattachment/client/informers/externalversions/serviceattachment/v1alpha1/serviceattachment.go
  pkg/serviceattachment/client/listers/serviceattachment/v1alpha1/expansion_generated.go
  pkg/serviceattachment/client/listers/serviceattachment/v1alpha1/serviceattachment.go
  pkg/serviceattachment/serviceattachment.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#1367 Add ServiceAttachmentDesc
  pkg/utils/serviceattachment/svcattachmentdesc.go
  pkg/utils/serviceattachment/svcattachmentdesc_test.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#1372 Add disruptive neg e2e tests
  cmd/e2e-test/neg_test.go
  pkg/e2e/fixtures.go
  pkg/e2e/helpers.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L
