Repository kubernetes/ingress-gce, pull requests merged in 2022-02, with the labels that each got.

#1639 Change "rbs enabled" checks, add finalizer and annotation check
  cmd/glbc/main.go
  pkg/annotations/service.go
  pkg/l4lb/l4netlbcontroller.go
  pkg/l4lb/l4netlbcontroller_test.go
  pkg/loadbalancers/l4netlb_test.go
  pkg/test/gcehooks.go
  pkg/test/utils.go
  pkg/utils/utils.go
Labels: cncf-cla: yes, size/L, lgtm, approved, ok-to-test

#1664 Fix typo in flag description
  pkg/flags/flags.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test

#1666 Add check for forwarding rule name in annotation for l4 rbs
  pkg/l4lb/l4netlbcontroller.go
  pkg/l4lb/l4netlbcontroller_test.go
Labels: cncf-cla: yes, size/L, lgtm, approved, ok-to-test

#1663 Add unit test for syncInternal error handling
  pkg/neg/syncers/transaction_test.go
  pkg/neg/syncers/utils_test.go
Labels: cncf-cla: yes, size/L, lgtm, approved

#1668 Add multiple zones support to fake instance groups
  pkg/backends/ig_linker_test.go
  pkg/backends/integration_test.go
  pkg/backends/regional_ig_linker_test.go
  pkg/controller/controller_test.go
  pkg/firewalls/fakes.go
  pkg/instances/fakes.go
  pkg/instances/instances_test.go
  pkg/neg/types/fakes.go
  pkg/psc/controller_test.go
  pkg/test/utils.go
  pkg/utils/utils.go
Labels: cncf-cla: yes, size/L, lgtm, needs-ok-to-test, approved

#1672 L4 Metrics refactoring
  pkg/l4lb/l4controller.go
  pkg/l4lb/l4controller_test.go
  pkg/l4lb/l4netlbcontroller.go
  pkg/l4lb/metrics/metrics.go
  pkg/loadbalancers/l4.go
  pkg/loadbalancers/l4_test.go
  pkg/loadbalancers/l4netlb.go
  pkg/loadbalancers/l4netlb_test.go
  pkg/loadbalancers/l4syncresult.go
  pkg/metrics/l4metrics_test.go
  pkg/metrics/metrics_test.go
  pkg/test/utils.go
Labels: cncf-cla: yes, lgtm, size/XL, approved, ok-to-test

#1673 Refactor Address Manager to return if address is managed by controller
  pkg/loadbalancers/address_manager.go
  pkg/loadbalancers/address_manager_test.go
  pkg/loadbalancers/forwarding_rules.go
  pkg/loadbalancers/l4netlb.go
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test
