Repository kubernetes/ingress-gce, pull requests merged in 2022-05, with the labels that each got.

#1704 corrected link for cluster-setup.md
  docs/faq/README.md
Labels: cncf-cla: yes, lgtm, size/XS, approved

#1711 Fix HttpsRedirects Lifecycle
  pkg/loadbalancers/target_proxies.go
  pkg/loadbalancers/url_maps.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test

#1709 Fix for backend service update
  pkg/backends/ig_linker.go
  pkg/backends/ig_linker_test.go
  pkg/backends/regional_ig_linker.go
  pkg/backends/regional_ig_linker_test.go
  pkg/test/gcehooks.go
Labels: cncf-cla: yes, size/L, lgtm, approved, ok-to-test

#1698 Do not include User Errors in L4NetLBInError metric
  pkg/l4lb/l4netlbcontroller_test.go
  pkg/loadbalancers/address_manager.go
  pkg/loadbalancers/address_manager_test.go
  pkg/loadbalancers/forwarding_rules.go
  pkg/loadbalancers/l4netlb.go
  pkg/loadbalancers/l4netlb_test.go
  pkg/metrics/features.go
  pkg/metrics/l4metrics_test.go
  pkg/metrics/metrics.go
  pkg/metrics/types.go
  pkg/test/gcehooks.go
  pkg/utils/utils.go
  pkg/utils/utils_test.go
Labels: cncf-cla: yes, size/L, lgtm, approved, ok-to-test

#1712 Add buckets to gce_api_request_duration_seconds metric
  pkg/composite/metrics/metrics.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test

#1707 Truncate nodes list to maximum instance group size (1000) before adding to instance group
  pkg/instances/fakes.go
  pkg/instances/instances.go
  pkg/instances/instances_test.go
  pkg/l4lb/l4netlbcontroller.go
  pkg/l4lb/l4netlbcontroller_test.go
  pkg/test/utils.go
Labels: cncf-cla: yes, size/L, lgtm, approved, ok-to-test

#1699 Modify reporting error metrics from L4 RBS services - only report service in error if resync deadline elapsed
  pkg/context/context.go
  pkg/flags/flags.go
  pkg/l4lb/l4netlbcontroller.go
  pkg/loadbalancers/l4netlb.go
  pkg/metrics/l4metrics_test.go
  pkg/metrics/metrics.go
  pkg/metrics/types.go
Labels: cncf-cla: yes, size/L, lgtm, approved, ok-to-test
