Repository kubernetes/ingress-gce, pull requests merged in 2022-04, with the labels that each got.

#1688 Delete service and wait for NEG deletion in ASM e2e tests
  cmd/e2e-test/asm_test.go
  cmd/e2e-test/neg_test.go
  pkg/e2e/fixtures.go
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test

#1689 Fix ASM test, use skip namespace for skip service
  cmd/e2e-test/asm_test.go
Labels: cncf-cla: yes, lgtm, size/XS, needs-ok-to-test, approved

#1687 Upgrade golang version to 1.16
  Makefile
  build/build.sh
  go.mod
  pkg/metrics/l4metrics_test.go
  pkg/metrics/metrics_test.go
  vendor/modules.txt
Labels: cncf-cla: yes, lgtm, size/M, approved

#1690 [Cherrypick #1687 into release-1.16] upgrade golang version to 1.16
  Makefile
  build/build.sh
  go.mod
  pkg/metrics/l4metrics_test.go
  pkg/metrics/metrics_test.go
  vendor/modules.txt
Labels: cncf-cla: yes, lgtm, size/M, approved

#1691 Improve RBS service deletion
  pkg/l4lb/l4netlbcontroller.go
  pkg/l4lb/l4netlbcontroller_test.go
Labels: cncf-cla: yes, size/L, lgtm, approved, ok-to-test

#1693 Add new flag for configuring metrics export frequency
  pkg/context/context.go
  pkg/flags/flags.go
  pkg/metrics/l4metrics_test.go
  pkg/metrics/metrics.go
  pkg/metrics/metrics_test.go
  pkg/neg/controller_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test

#1694 Do not restart controller after L4 healthcheck failure, publish metrics instead
  pkg/l4lb/l4controller.go
  pkg/l4lb/l4netlbcontroller.go
  pkg/l4lb/metrics/metrics.go
Labels: cncf-cla: yes, lgtm, size/S, approved, ok-to-test
