Repository kubernetes/ingress-gce, pull requests merged in 2022-11, with the labels that each got.

#1826 Refactor instances package, move node controller out of l7
  cmd/glbc/main.go
  pkg/backends/ig_linker.go
  pkg/backends/ig_linker_test.go
  pkg/backends/integration_test.go
  pkg/backends/regional_ig_linker.go
  pkg/backends/regional_ig_linker_test.go
  pkg/context/context.go
  pkg/controller/controller.go
  pkg/controller/controller_test.go
  pkg/controller/utils.go
  pkg/controller/utils_test.go
  pkg/instancegroups/controller.go
  pkg/instancegroups/controller_test.go
  pkg/instancegroups/fakes.go
  pkg/instancegroups/interfaces.go
  pkg/instancegroups/manager.go
  pkg/instancegroups/manager_test.go
  pkg/l4lb/l4netlbcontroller.go
Labels: cncf-cla: yes, size/L, lgtm, approved

#1835 Create Error State Interface
  pkg/neg/syncers/transaction.go
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test

#1856 Add L4 ILB Dual-Stack Metrics
  pkg/l4lb/l4controller.go
  pkg/loadbalancers/l4.go
  pkg/metrics/l4metrics_test.go
  pkg/metrics/metrics.go
  pkg/metrics/types.go
Labels: cncf-cla: yes, size/L, lgtm, approved

#1858 wait on startup to get permissions
  pkg/crd/crd.go
  pkg/crd/crd_test.go
Labels: cncf-cla: yes, size/L, lgtm, approved

#1859 Update e2e.EnsureIngress() to check Annotations in addition to Spec
  cmd/e2e-test/ilb_test.go
  pkg/e2e/fixtures.go
Labels: cncf-cla: yes, lgtm, size/S, approved, ok-to-test

#1862 add ojea as reviewer
  OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, approved

#1836 Add check for endpoint counts equal
  pkg/neg/syncers/endpoints_calculator.go
  pkg/neg/syncers/endpoints_calculator_test.go
  pkg/neg/syncers/transaction.go
  pkg/neg/syncers/transaction_test.go
  pkg/neg/syncers/utils.go
  pkg/neg/syncers/utils_test.go
  pkg/neg/types/interfaces.go
Labels: cncf-cla: yes, size/L, lgtm, approved, ok-to-test

#1867 Adds Subnet field to e2e-test
  cmd/e2e-test/main_test.go
  cmd/e2e-test/run.sh
  pkg/e2e/fixtures.go
  pkg/e2e/framework.go
Labels: cncf-cla: yes, lgtm, size/S, approved, ok-to-test

#1842 Add check for invalid or missing data in EPS
  pkg/neg/syncers/transaction.go
  pkg/neg/syncers/transaction_test.go
Labels: cncf-cla: yes, size/L, lgtm, approved, ok-to-test

#1849 Add check for endpoint count is zero
  pkg/neg/syncers/transaction.go
  pkg/neg/syncers/transaction_test.go
Labels: cncf-cla: yes, size/L, lgtm, approved, ok-to-test

#1853 Add check for attach/detach API error
  pkg/neg/syncers/transaction.go
  pkg/neg/syncers/transaction_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test
