Repository kubernetes/ingress-gce, pull requests merged in 2023-05, with the labels that each got.

#2090 Implement heuristics for detaching migration endpoints
  pkg/neg/syncers/dualstack/migrator.go
  pkg/neg/syncers/dualstack/migrator_test.go
Labels: cncf-cla: yes, size/L, lgtm, needs-ok-to-test, approved

#2025 Add CheckServiceExistence Rule for gke-ingress-checker
  cmd/gke-diagnoser/app/ingress/rule.go
  cmd/gke-diagnoser/app/ingress/rule_test.go
  cmd/gke-diagnoser/app/report/report.go
Labels: cncf-cla: yes, size/L, lgtm, approved, ok-to-test

#2092 Use Alpha NEG API when DualStackNEG feature is enabled
  pkg/neg/syncers/transaction.go
  pkg/neg/syncers/transaction_test.go
  pkg/neg/syncers/utils.go
  pkg/neg/syncers/utils_test.go
  pkg/neg/types/types.go
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test

#1919 Add metrics for endpoint and endpoint slice state
  pkg/neg/manager.go
  pkg/neg/metrics/endpoint_metrics.go
  pkg/neg/metrics/neg_metrics_collector.go
  pkg/neg/syncers/endpoints_calculator.go
  pkg/neg/syncers/endpoints_calculator_test.go
  pkg/neg/syncers/transaction.go
  pkg/neg/syncers/transaction_test.go
  pkg/neg/syncers/utils.go
  pkg/neg/syncers/utils_test.go
  pkg/neg/types/endpoint_stat.go
  pkg/neg/types/states.go
  pkg/neg/types/sync_errors.go
Labels: cncf-cla: yes, size/L, lgtm, approved, ok-to-test

#2081 Read THC annotation and configure UHC accordingly
  pkg/annotations/service.go
  pkg/backends/integration_test.go
  pkg/backends/syncer_test.go
  pkg/context/context.go
  pkg/controller/controller.go
  pkg/controller/translator/translator.go
  pkg/controller/translator/translator_test.go
  pkg/healthchecks/healthcheck.go
  pkg/healthchecks/healthchecks.go
  pkg/healthchecks/healthchecks_test.go
  pkg/translator/healthchecks.go
  pkg/translator/healthchecks_test.go
  pkg/utils/serviceport.go
Labels: cncf-cla: yes, lgtm, size/XL, approved, ok-to-test

#2088 Add firewall rule for Transparent Health Checks
  pkg/firewalls/controller.go
  pkg/firewalls/controller_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test

#2093 Consume IPv6 Health status for NEG pod readiness
  pkg/neg/controller.go
  pkg/neg/readiness/poller.go
  pkg/neg/readiness/poller_test.go
  pkg/neg/readiness/reflector.go
  pkg/neg/readiness/reflector_test.go
Labels: cncf-cla: yes, size/L, lgtm, approved, ok-to-test

#2098 Add flags for gke-ingress-checker
  cmd/gke-diagnoser/app/command/root.go
  cmd/gke-diagnoser/app/report/report.go
Labels: cncf-cla: yes, lgtm, size/S, approved, ok-to-test

#2101 bump timeout for building images
  cloudbuild.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved

#2096 Jsonify description of healthchecks configured by Transparent Health Checks
  go.mod
  go.sum
  pkg/healthchecks/healthchecks.go
  pkg/healthchecks/healthchecks_test.go
  pkg/translator/healthchecks.go
  pkg/translator/healthchecks_test.go
  pkg/utils/healthcheck/healthcheckdesc.go
  vendor/golang.org/x/exp/LICENSE
  vendor/golang.org/x/exp/PATENTS
  vendor/golang.org/x/exp/constraints/constraints.go
  vendor/golang.org/x/exp/slices/slices.go
  vendor/golang.org/x/exp/slices/sort.go
  vendor/golang.org/x/exp/slices/zsortfunc.go
  vendor/golang.org/x/exp/slices/zsortordered.go
  vendor/golang.org/x/sync/errgroup/errgroup.go
  vendor/k8s.io/cloud-provider-gcp/crd/apis/network/v1/network_types.go
  vendor/k8s.io/cloud-provider-gcp/crd/apis/network/v1/zz_generated.deepcopy.go
  vendor/k8s.io/cloud-provider-gcp/crd/apis/network/v1alpha1/gkenetworkparamset_types.go
  vendor/k8s.io/cloud-provider-gcp/crd/apis/network/v1alpha1/zz_generated.deepcopy.go
  vendor/modules.txt
Labels: cncf-cla: yes, lgtm, size/XXL, approved, ok-to-test

#2099 Remove the flag EnableBackendConfigHealthCheck
  docs/deploy/resources/glbc.yaml
  pkg/controller/translator/translator.go
  pkg/controller/translator/translator_test.go
  pkg/firewalls/controller.go
  pkg/firewalls/controller_test.go
  pkg/healthchecks/healthchecks.go
  pkg/healthchecks/healthchecks_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test

#2103 Rename syncer and endpoint metrics to match Monarch
  pkg/neg/metrics/endpoint_metrics.go
  pkg/neg/metrics/neg_metrics_collector.go
  pkg/neg/metrics/syncer_metrics.go
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test

#2100 Rename gke-diagnoser to check-gke-ingress
  cmd/check-gke-ingress/app/command/root.go
  cmd/check-gke-ingress/app/ingress/rule.go
  cmd/check-gke-ingress/app/ingress/rule_test.go
  cmd/check-gke-ingress/app/kube/clientset.go
  cmd/check-gke-ingress/app/report/report.go
  cmd/check-gke-ingress/main.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test

#2095 Add new metrics for NEG DualStack Migrator
  pkg/neg/metrics/metrics.go
  pkg/neg/metrics/neg_metrics_collector.go
  pkg/neg/metrics/neg_metrics_collector_test.go
  pkg/neg/syncers/dualstack/migrator.go
  pkg/neg/syncers/dualstack/migrator_test.go
  pkg/neg/syncers/transaction.go
  pkg/neg/types/states.go
Labels: cncf-cla: yes, lgtm, size/XL, approved, ok-to-test

#2105 Add CheckBackendConfigAnnotation rule to check-gke-ingress
  cmd/check-gke-ingress/app/ingress/rule.go
  cmd/check-gke-ingress/app/ingress/rule_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test

#2106 Add CheckBackendConfigExistence to check-gke-ingress
  cmd/check-gke-ingress/app/ingress/rule.go
  cmd/check-gke-ingress/app/ingress/rule_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test

#2108 Build binaries for docker images in cloudbuild.yaml
  cloudbuild.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test

#2110 Remove verbose arg from cloudbuild.yaml
  cloudbuild.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test

#2113 Change e2e-test dockerfile run cmds
  Dockerfile.e2e-test
Labels: cncf-cla: yes, lgtm, size/S, approved, ok-to-test

#2114 Use gcloud base image for e2e-test container
  Dockerfile.e2e-test
Labels: cncf-cla: yes, lgtm, size/S, approved, ok-to-test

#2104 Switch Compute API to beta for NEG IPv6 fields when DualStackNEG feature flag is enabled
  pkg/neg/types/types.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test

#2107 Use degraded mode results in NEG DualStack migration heuristics
  pkg/neg/syncers/dualstack/migrator.go
  pkg/neg/syncers/dualstack/migrator_test.go
  pkg/neg/syncers/transaction.go
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test

#2112 Add CheckHealthCheckConfig rule to check-gke-ingress
  cmd/check-gke-ingress/app/ingress/rule.go
  cmd/check-gke-ingress/app/ingress/rule_test.go
Labels: cncf-cla: yes, size/L, lgtm, approved, ok-to-test

#2115 Update go version to 1.20 to match the image build version
  go.mod
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test

#2116 Integration tests for NEG DualStack Migrator
  pkg/neg/syncers/dualstack/migrator.go
  pkg/neg/syncers/dualstack/migrator_test.go
  vendor/k8s.io/klog/v2/internal/verbosity/verbosity.go
  vendor/k8s.io/klog/v2/ktesting/options.go
  vendor/k8s.io/klog/v2/ktesting/setup.go
  vendor/k8s.io/klog/v2/ktesting/testinglogger.go
  vendor/modules.txt
Labels: cncf-cla: yes, lgtm, size/XXL, approved, ok-to-test

#2023 Multi networking neg controller
  cmd/glbc/main.go
  pkg/neg/controller.go
  pkg/neg/controller_test.go
  pkg/neg/manager.go
  pkg/neg/syncers/endpoints_calculator.go
  pkg/neg/syncers/endpoints_calculator_test.go
  pkg/neg/syncers/subsets.go
  pkg/neg/syncers/subsets_test.go
  pkg/neg/syncers/transaction.go
  pkg/neg/syncers/transaction_test.go
  pkg/neg/syncers/utils_test.go
  pkg/neg/types/cloudprovideradapter.go
  pkg/neg/types/fakes.go
  pkg/neg/types/interfaces.go
  pkg/neg/types/testing.go
  pkg/neg/types/types_test.go
  pkg/network/network.go
  pkg/network/network_test.go
  vendor/k8s.io/cloud-provider-gcp/crd/client/network/clientset/versioned/fake/BUILD
  vendor/k8s.io/cloud-provider-gcp/crd/client/network/clientset/versioned/fake/clientset_generated.go
  vendor/k8s.io/cloud-provider-gcp/crd/client/network/clientset/versioned/fake/doc.go
  vendor/k8s.io/cloud-provider-gcp/crd/client/network/clientset/versioned/fake/register.go
  vendor/k8s.io/cloud-provider-gcp/crd/client/network/clientset/versioned/typed/network/v1/fake/BUILD
  vendor/k8s.io/cloud-provider-gcp/crd/client/network/clientset/versioned/typed/network/v1/fake/doc.go
  vendor/k8s.io/cloud-provider-gcp/crd/client/network/clientset/versioned/typed/network/v1/fake/fake_network.go
  vendor/k8s.io/cloud-provider-gcp/crd/client/network/clientset/versioned/typed/network/v1/fake/fake_network_client.go
  vendor/k8s.io/cloud-provider-gcp/crd/client/network/clientset/versioned/typed/network/v1/fake/fake_networkinterface.go
  vendor/k8s.io/cloud-provider-gcp/crd/client/network/clientset/versioned/typed/network/v1/fake/fake_networkinterfacelist.go
  vendor/k8s.io/cloud-provider-gcp/crd/client/network/clientset/versioned/typed/network/v1/fake/fake_networklist.go
  vendor/k8s.io/cloud-provider-gcp/crd/client/network/clientset/versioned/typed/network/v1alpha1/fake/BUILD
  vendor/k8s.io/cloud-provider-gcp/crd/client/network/clientset/versioned/typed/network/v1alpha1/fake/doc.go
  vendor/k8s.io/cloud-provider-gcp/crd/client/network/clientset/versioned/typed/network/v1alpha1/fake/fake_gkenetworkparamset.go
  vendor/k8s.io/cloud-provider-gcp/crd/client/network/clientset/versioned/typed/network/v1alpha1/fake/fake_gkenetworkparamsetlist.go
  vendor/k8s.io/cloud-provider-gcp/crd/client/network/clientset/versioned/typed/network/v1alpha1/fake/fake_network.go
  vendor/k8s.io/cloud-provider-gcp/crd/client/network/clientset/versioned/typed/network/v1alpha1/fake/fake_network_client.go
  vendor/k8s.io/cloud-provider-gcp/crd/client/network/clientset/versioned/typed/network/v1alpha1/fake/fake_networkinterface.go
  vendor/k8s.io/cloud-provider-gcp/crd/client/network/clientset/versioned/typed/network/v1alpha1/fake/fake_networkinterfacelist.go
  vendor/k8s.io/cloud-provider-gcp/crd/client/network/clientset/versioned/typed/network/v1alpha1/fake/fake_networklist.go
Labels: cncf-cla: yes, lgtm, size/XXL, approved, ok-to-test

#2121 Use hack script for e2e test image building
  cloudbuild.yaml
  hack/push-multiarch.sh
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test

#2122 Add buckets for syncer staleness metrics
  pkg/neg/metrics/metrics.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test

#2120 Add CheckFrontendConfigExistence to check-gke-ingress
  cmd/check-gke-ingress/app/ingress/rule.go
  cmd/check-gke-ingress/app/ingress/rule_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test

#2125 Make minimal modifications to make dual-stack-negs work with self-managed controller
  docs/deploy/gke/README.md
  docs/deploy/resources/glbc.yaml
  docs/deploy/resources/rbac.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, ok-to-test

#2119 Add CheckIngressRule to check-gke-ingress
  cmd/check-gke-ingress/app/ingress/rule.go
  cmd/check-gke-ingress/app/ingress/rule_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test

#2128 Allow IAM policy changes to not require user interactive prompt
  docs/deploy/gke/gke-self-managed.sh
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test

#2129 Add CheckAppProtocolAnnotation to check-gke-ingress
  cmd/check-gke-ingress/app/ingress/rule.go
  cmd/check-gke-ingress/app/ingress/rule_test.go
Labels: cncf-cla: yes, size/L, lgtm, approved, ok-to-test

#2127 Add CheckL7ILBFrontendConfig to check-gke-ingress
  cmd/check-gke-ingress/app/ingress/rule.go
  cmd/check-gke-ingress/app/ingress/rule_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test

#2137 Reset gauges when collecting service metrics
  pkg/servicemetrics/servicemetrics.go
Labels: cncf-cla: yes, lgtm, size/XS, approved

#2123 Use only one buildx command for e2e-test
  Dockerfile.e2e-test
  cloudbuild.yaml
  hack/push-multiarch.sh
Labels: cncf-cla: yes, lgtm, size/M, approved

#2126 Change logic of deleting RBS service
  pkg/l4lb/l4lbcommon.go
  pkg/l4lb/l4netlbcontroller.go
  pkg/l4lb/l4netlbcontroller_test.go
  pkg/loadbalancers/l4syncresult.go
Labels: cncf-cla: yes, size/L, lgtm, approved

#2132 Remove running tests with verbose mode
  build/test.sh
Labels: cncf-cla: yes, lgtm, size/XS, approved

#2138 Endpoint State metrics Cleanup
  pkg/neg/metrics/neg_metrics_collector.go
  pkg/neg/syncers/endpoints_calculator.go
Labels: cncf-cla: yes, lgtm, size/S, approved, ok-to-test

#2140 Pin golang patch version in Makefile
  Makefile
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test

#2066 Degraded mode e2e
  cmd/e2e-test/neg_test.go
  pkg/e2e/adapter/ingress.go
  pkg/e2e/fixtures.go
  pkg/e2e/fixtures_test.go
  pkg/e2e/framework.go
  pkg/e2e/helpers.go
Labels: cncf-cla: yes, size/L, lgtm, approved, ok-to-test

#2097 Track GCE/K8s server error
  pkg/neg/controller.go
  pkg/neg/manager.go
  pkg/neg/metrics/metrics.go
  pkg/neg/readiness/poller.go
  pkg/neg/readiness/reflector.go
  pkg/neg/readiness/utils.go
  pkg/neg/syncers/endpoints_calculator.go
  pkg/neg/syncers/syncer.go
  pkg/neg/syncers/transaction.go
  pkg/neg/syncers/utils.go
  pkg/utils/utils.go
Labels: cncf-cla: yes, size/L, lgtm, approved, ok-to-test

#2145 Delete RBS annotation explicitly in preventTargetPoolRaceWithRBSOnCreation
  pkg/l4lb/l4netlbcontroller.go
  pkg/l4lb/l4netlbcontroller_test.go
Labels: cncf-cla: yes, lgtm, size/S, approved

#2144 Push arch specific images
  hack/push-multiarch.sh
Labels: cncf-cla: yes, lgtm, size/S, approved, ok-to-test

#2146 Add gauravkghildiyal to reviewers
  OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, approved

#2142 Integrate checks for check-gke-ingress
  cmd/check-gke-ingress/app/command/root.go
  cmd/check-gke-ingress/app/ingress/ingress.go
  cmd/check-gke-ingress/app/ingress/rule.go
  cmd/check-gke-ingress/app/ingress/rule_test.go
Labels: cncf-cla: yes, lgtm, size/XL, approved, ok-to-test

#2148 set arm64 tolerations in ingress e2e tests
  pkg/e2e/fixtures.go
Labels: cncf-cla: yes, lgtm, size/XS, approved

#2149 Fix potential nil pointer panic in check-gke-ingress
  cmd/check-gke-ingress/app/ingress/rule.go
Labels: cncf-cla: yes, lgtm, size/S, approved, ok-to-test

#2153 Cleanup NEG Metrics
  pkg/neg/controller.go
  pkg/neg/manager.go
  pkg/neg/manager_test.go
  pkg/neg/metrics/endpoint_metrics.go
  pkg/neg/metrics/label_propagation_metrics.go
  pkg/neg/metrics/metrics.go
  pkg/neg/metrics/metrics_test.go
  pkg/neg/metrics/metricscollector/metrics.go
  pkg/neg/metrics/metricscollector/metrics_collector.go
  pkg/neg/metrics/metricscollector/metrics_collector_test.go
  pkg/neg/syncers/dualstack/migrator_test.go
  pkg/neg/syncers/endpoints_calculator.go
  pkg/neg/syncers/endpoints_calculator_test.go
  pkg/neg/syncers/transaction.go
  pkg/neg/syncers/transaction_test.go
Labels: cncf-cla: yes, lgtm, size/XL, approved

#2150 Add GCE Request Count Metric
  pkg/neg/metrics/metrics.go
  pkg/neg/types/cloudprovideradapter.go
Labels: cncf-cla: yes, lgtm, size/M, approved
