Repository kubernetes/ingress-gce, pull requests merged in 2023-04, with the labels that each got.

#2046 Create run-make-cmd.sh
  hack/run-make-cmd.sh
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test

#2057 Revert "Use Patch when syncing GCP BackendService. Linking backend groups still uses Update"
  pkg/backends/backends.go
  pkg/backends/interfaces.go
  pkg/backends/syncer.go
  pkg/backends/syncer_test.go
  pkg/composite/gen.go
  pkg/composite/gen/main.go
  pkg/composite/meta/meta.go
Labels: cncf-cla: yes, size/L, lgtm, approved, ok-to-test

#2021 Add feature flag for IPv6 NEGs support
  cmd/glbc/main.go
  pkg/flags/flags.go
  pkg/neg/controller.go
  pkg/neg/controller_test.go
  pkg/neg/manager.go
  pkg/neg/manager_test.go
  pkg/neg/syncers/endpoints_calculator.go
  pkg/neg/syncers/endpoints_calculator_test.go
  pkg/neg/syncers/transaction.go
  pkg/neg/syncers/transaction_test.go
  pkg/neg/types/testing.go
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test

#2060 Revert "Set the k8s-cloud-provider API domain"
  cmd/glbc/main.go
  pkg/utils/utils.go
  pkg/utils/utils_test.go
Labels: cncf-cla: yes, lgtm, size/M, needs-ok-to-test, approved

#2063 Fix a case when regional instance group linker has to add a backend t…
  pkg/backends/regional_ig_linker.go
  pkg/backends/regional_ig_linker_test.go
Labels: cncf-cla: yes, lgtm, size/M, needs-ok-to-test, approved

#1990 Add getPodLabelMap function for NegLabelPropagation and add unit test for it
  pkg/neg/syncers/labels/label_test.go
  pkg/neg/syncers/labels/labels.go
  pkg/neg/types/types.go
Labels: cncf-cla: yes, size/L, lgtm, approved, ok-to-test

#2062 Set SampleRate to 0 when LogConfig is disabled for BackendService
  pkg/backends/features/logging.go
  pkg/backends/features/logging_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test

#2059 Fix small logs typo
  pkg/psc/controller.go
Labels: cncf-cla: yes, lgtm, size/XS, approved

#2044 Refactor syncInternalImpl and toZoneNetworkEndpointMap
  pkg/neg/metrics/neg_metrics_collector.go
  pkg/neg/syncers/endpoints_calculator.go
  pkg/neg/syncers/endpoints_calculator_test.go
  pkg/neg/syncers/transaction.go
  pkg/neg/syncers/transaction_test.go
  pkg/neg/syncers/utils.go
  pkg/neg/syncers/utils_test.go
  pkg/neg/types/interfaces.go
  pkg/neg/types/sync_results.go
Labels: cncf-cla: yes, lgtm, size/XXL, approved, ok-to-test

#2067 Support IG backends removal in regional_ig_linker.go.
  pkg/backends/ig_linker.go
  pkg/backends/ig_linker_test.go
  pkg/backends/regional_ig_linker.go
  pkg/backends/regional_ig_linker_test.go
Labels: cncf-cla: yes, size/L, lgtm, approved, ok-to-test

#2061 Add IPv6 address when calculating target endpoints within L7EndpointsCalculator
  pkg/neg/syncers/endpoints_calculator.go
  pkg/neg/syncers/utils.go
  pkg/neg/syncers/utils_test.go
  pkg/neg/types/network_endpoint.go
Labels: cncf-cla: yes, size/L, lgtm, approved, ok-to-test

#2070 Filter out migrating endpoints in NEG controller
  pkg/neg/syncers/transaction.go
  pkg/neg/syncers/utils.go
  pkg/neg/syncers/utils_test.go
Labels: cncf-cla: yes, size/L, lgtm, approved, ok-to-test

#2069 Add label propagation logic and update unit tests
  pkg/neg/syncers/transaction.go
  pkg/neg/syncers/transaction_test.go
  pkg/neg/syncers/utils.go
  pkg/neg/syncers/utils_test.go
Labels: cncf-cla: yes, size/L, lgtm, approved, ok-to-test

#2074 Add a script to push multiarch images
  hack/push-multiarch.sh
  hack/run-make-cmd.sh
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test

#2064 [Cherry-pick #2063, #2067 to 1.22] Fix a case when regional instance group l…
  pkg/backends/ig_linker.go
  pkg/backends/ig_linker_test.go
  pkg/backends/regional_ig_linker.go
  pkg/backends/regional_ig_linker_test.go
Labels: cncf-cla: yes, size/L, lgtm, approved, ok-to-test

#2076 Add label propagation metrics
  pkg/neg/metrics/label_propagation_metrics.go
  pkg/neg/metrics/metrics_test.go
  pkg/neg/metrics/neg_metrics_collector.go
Labels: cncf-cla: yes, size/L, lgtm, approved, ok-to-test

#1626 Firewall CR migration
  cmd/glbc/main.go
  go.mod
  go.sum
  pkg/context/context.go
  pkg/controller/controller_test.go
  pkg/firewalls/controller.go
  pkg/firewalls/controller_test.go
  pkg/firewalls/fiewalls_l7_cr.go
  pkg/firewalls/firewalls.go
  pkg/firewalls/firewalls_test.go
  pkg/flags/flags.go
  pkg/l4lb/l4controller_test.go
  pkg/l4lb/l4netlbcontroller_test.go
  pkg/psc/controller_test.go
  vendor/k8s.io/cloud-provider-gcp/crd/LICENSE
  vendor/k8s.io/cloud-provider-gcp/crd/apis/gcpfirewall/v1beta1/doc.go
  vendor/k8s.io/cloud-provider-gcp/crd/apis/gcpfirewall/v1beta1/types.go
  vendor/k8s.io/cloud-provider-gcp/crd/apis/gcpfirewall/v1beta1/zz_generated.deepcopy.go
  vendor/k8s.io/cloud-provider-gcp/crd/apis/gcpfirewall/v1beta1/zz_generated.register.go
  vendor/k8s.io/cloud-provider-gcp/crd/client/gcpfirewall/clientset/versioned/clientset.go
  vendor/k8s.io/cloud-provider-gcp/crd/client/gcpfirewall/clientset/versioned/doc.go
  vendor/k8s.io/cloud-provider-gcp/crd/client/gcpfirewall/clientset/versioned/fake/clientset_generated.go
  vendor/k8s.io/cloud-provider-gcp/crd/client/gcpfirewall/clientset/versioned/fake/doc.go
  vendor/k8s.io/cloud-provider-gcp/crd/client/gcpfirewall/clientset/versioned/fake/register.go
  vendor/k8s.io/cloud-provider-gcp/crd/client/gcpfirewall/clientset/versioned/scheme/doc.go
  vendor/k8s.io/cloud-provider-gcp/crd/client/gcpfirewall/clientset/versioned/scheme/register.go
  vendor/k8s.io/cloud-provider-gcp/crd/client/gcpfirewall/clientset/versioned/typed/gcpfirewall/v1beta1/doc.go
  vendor/k8s.io/cloud-provider-gcp/crd/client/gcpfirewall/clientset/versioned/typed/gcpfirewall/v1beta1/fake/doc.go
  vendor/k8s.io/cloud-provider-gcp/crd/client/gcpfirewall/clientset/versioned/typed/gcpfirewall/v1beta1/fake/fake_gcpfirewall.go
  vendor/k8s.io/cloud-provider-gcp/crd/client/gcpfirewall/clientset/versioned/typed/gcpfirewall/v1beta1/fake/fake_gcpfirewall_client.go
  vendor/k8s.io/cloud-provider-gcp/crd/client/gcpfirewall/clientset/versioned/typed/gcpfirewall/v1beta1/gcpfirewall.go
  vendor/k8s.io/cloud-provider-gcp/crd/client/gcpfirewall/clientset/versioned/typed/gcpfirewall/v1beta1/gcpfirewall_client.go
  vendor/k8s.io/cloud-provider-gcp/crd/client/gcpfirewall/clientset/versioned/typed/gcpfirewall/v1beta1/generated_expansion.go
  vendor/k8s.io/cloud-provider-gcp/crd/client/gcpfirewall/informers/externalversions/gcpfirewall/v1beta1/gcpfirewall.go
  vendor/k8s.io/cloud-provider-gcp/crd/client/gcpfirewall/informers/externalversions/gcpfirewall/v1beta1/interface.go
  vendor/k8s.io/cloud-provider-gcp/crd/client/gcpfirewall/informers/externalversions/internalinterfaces/factory_interfaces.go
  vendor/k8s.io/cloud-provider-gcp/crd/client/gcpfirewall/listers/gcpfirewall/v1beta1/expansion_generated.go
  vendor/k8s.io/cloud-provider-gcp/crd/client/gcpfirewall/listers/gcpfirewall/v1beta1/gcpfirewall.go
  vendor/modules.txt
Labels: cncf-cla: yes, lgtm, size/XXL, approved, ok-to-test

#2077 Add label propagation metrics calculation logic
  pkg/neg/controller.go
  pkg/neg/metrics/label_propagation_metrics.go
  pkg/neg/metrics/metrics.go
  pkg/neg/metrics/metrics_test.go
  pkg/neg/metrics/neg_metrics_collector.go
  pkg/neg/syncers/labels/labels.go
  pkg/neg/syncers/transaction.go
  pkg/neg/syncers/transaction_test.go
  pkg/neg/syncers/utils.go
  pkg/neg/syncers/utils_test.go
Labels: cncf-cla: yes, size/L, lgtm, approved, ok-to-test

#2039 Update error state set and reset
  go.mod
  go.sum
  pkg/neg/metrics/neg_metrics_collector.go
  pkg/neg/syncers/endpoints_calculator.go
  pkg/neg/syncers/transaction.go
  pkg/neg/syncers/transaction_test.go
  pkg/neg/syncers/utils.go
  pkg/neg/types/sync_errors.go
  pkg/neg/types/sync_errors_test.go
  pkg/neg/types/sync_results.go
  vendor/golang.org/x/sync/LICENSE
  vendor/golang.org/x/sync/PATENTS
  vendor/golang.org/x/sync/errgroup/errgroup.go
  vendor/modules.txt
Labels: cncf-cla: yes, lgtm, size/XL, approved, ok-to-test

#2075 Update endpoint checking return
  pkg/neg/syncers/utils.go
  pkg/neg/syncers/utils_test.go
  pkg/neg/types/sync_errors.go
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test

#2079 Fix wait.PollImmediate in TestEnableDegradedMode
  pkg/neg/syncers/transaction_test.go
Labels: cncf-cla: yes, lgtm, size/S, approved, ok-to-test

#2080 Use time.Duration.String func to print duration
  pkg/servicemetrics/servicemetrics.go
Labels: cncf-cla: yes, lgtm, size/XS, approved

#2083 Label propagation e2e test
  cmd/e2e-test/neg_test.go
  hack/run-local-glbc.sh
  pkg/e2e/fixtures.go
  pkg/e2e/helpers.go
Labels: cncf-cla: yes, size/L, lgtm, approved, ok-to-test

#2072 Emit event on Description-only healthcheck update
  pkg/backends/integration_test.go
  pkg/backends/syncer_test.go
  pkg/controller/controller.go
  pkg/controller/translator/translator.go
  pkg/healthchecks/fakes.go
  pkg/healthchecks/healthcheck.go
  pkg/healthchecks/healthchecks.go
  pkg/healthchecks/healthchecks_test.go
  pkg/healthchecks/interfaces.go
  pkg/translator/healthchecks.go
Labels: cncf-cla: yes, size/L, lgtm, approved, ok-to-test

#2073 Define the interface for NEG dual stack migration handler
  pkg/neg/syncers/dualstack/migrator.go
  pkg/neg/syncers/dualstack/migrator_test.go
  pkg/neg/syncers/transaction.go
  pkg/neg/syncers/transaction_test.go
  pkg/neg/syncers/utils.go
  pkg/neg/syncers/utils_test.go
Labels: cncf-cla: yes, lgtm, size/XL, approved, ok-to-test

#2020 Add report utils for gke-diagnoser to support json output
  cmd/gke-diagnoser/app/util/report.go
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test

#2071 Multi networking informers
  cmd/glbc/main.go
  pkg/context/context.go
  pkg/controller/controller_test.go
  pkg/firewalls/controller_test.go
  pkg/flags/flags.go
  pkg/l4lb/l4controller_test.go
  pkg/l4lb/l4netlbcontroller_test.go
  pkg/psc/controller_test.go
  vendor/k8s.io/cloud-provider-gcp/crd/apis/network/v1/annotations.go
  vendor/k8s.io/cloud-provider-gcp/crd/apis/network/v1/doc.go
  vendor/k8s.io/cloud-provider-gcp/crd/apis/network/v1/network.go
  vendor/k8s.io/cloud-provider-gcp/crd/apis/network/v1/network_types.go
  vendor/k8s.io/cloud-provider-gcp/crd/apis/network/v1/networkinterface_types.go
  vendor/k8s.io/cloud-provider-gcp/crd/apis/network/v1/zz_generated.deepcopy.go
  vendor/k8s.io/cloud-provider-gcp/crd/apis/network/v1/zz_generated.register.go
  vendor/k8s.io/cloud-provider-gcp/crd/apis/network/v1alpha1/annotations.go
  vendor/k8s.io/cloud-provider-gcp/crd/apis/network/v1alpha1/doc.go
  vendor/k8s.io/cloud-provider-gcp/crd/apis/network/v1alpha1/gkenetworkparamset_types.go
  vendor/k8s.io/cloud-provider-gcp/crd/apis/network/v1alpha1/network.go
  vendor/k8s.io/cloud-provider-gcp/crd/apis/network/v1alpha1/network_types.go
  vendor/k8s.io/cloud-provider-gcp/crd/apis/network/v1alpha1/networkinterface_types.go
  vendor/k8s.io/cloud-provider-gcp/crd/apis/network/v1alpha1/zz_generated.deepcopy.go
  vendor/k8s.io/cloud-provider-gcp/crd/apis/network/v1alpha1/zz_generated.register.go
  vendor/k8s.io/cloud-provider-gcp/crd/client/network/clientset/versioned/clientset.go
  vendor/k8s.io/cloud-provider-gcp/crd/client/network/clientset/versioned/doc.go
  vendor/k8s.io/cloud-provider-gcp/crd/client/network/clientset/versioned/scheme/doc.go
  vendor/k8s.io/cloud-provider-gcp/crd/client/network/clientset/versioned/scheme/register.go
  vendor/k8s.io/cloud-provider-gcp/crd/client/network/clientset/versioned/typed/network/v1/doc.go
  vendor/k8s.io/cloud-provider-gcp/crd/client/network/clientset/versioned/typed/network/v1/generated_expansion.go
  vendor/k8s.io/cloud-provider-gcp/crd/client/network/clientset/versioned/typed/network/v1/network.go
  vendor/k8s.io/cloud-provider-gcp/crd/client/network/clientset/versioned/typed/network/v1/network_client.go
  vendor/k8s.io/cloud-provider-gcp/crd/client/network/clientset/versioned/typed/network/v1/networkinterface.go
  vendor/k8s.io/cloud-provider-gcp/crd/client/network/clientset/versioned/typed/network/v1/networkinterfacelist.go
  vendor/k8s.io/cloud-provider-gcp/crd/client/network/clientset/versioned/typed/network/v1/networklist.go
  vendor/k8s.io/cloud-provider-gcp/crd/client/network/clientset/versioned/typed/network/v1alpha1/doc.go
  vendor/k8s.io/cloud-provider-gcp/crd/client/network/clientset/versioned/typed/network/v1alpha1/generated_expansion.go
  vendor/k8s.io/cloud-provider-gcp/crd/client/network/clientset/versioned/typed/network/v1alpha1/gkenetworkparamset.go
  vendor/k8s.io/cloud-provider-gcp/crd/client/network/clientset/versioned/typed/network/v1alpha1/gkenetworkparamsetlist.go
  vendor/k8s.io/cloud-provider-gcp/crd/client/network/clientset/versioned/typed/network/v1alpha1/network.go
  vendor/k8s.io/cloud-provider-gcp/crd/client/network/clientset/versioned/typed/network/v1alpha1/network_client.go
  vendor/k8s.io/cloud-provider-gcp/crd/client/network/clientset/versioned/typed/network/v1alpha1/networkinterface.go
  vendor/k8s.io/cloud-provider-gcp/crd/client/network/clientset/versioned/typed/network/v1alpha1/networkinterfacelist.go
  vendor/k8s.io/cloud-provider-gcp/crd/client/network/clientset/versioned/typed/network/v1alpha1/networklist.go
  vendor/k8s.io/cloud-provider-gcp/crd/client/network/informers/externalversions/internalinterfaces/factory_interfaces.go
  vendor/k8s.io/cloud-provider-gcp/crd/client/network/informers/externalversions/network/v1/interface.go
  vendor/k8s.io/cloud-provider-gcp/crd/client/network/informers/externalversions/network/v1/network.go
  vendor/k8s.io/cloud-provider-gcp/crd/client/network/informers/externalversions/network/v1/networkinterface.go
  vendor/k8s.io/cloud-provider-gcp/crd/client/network/informers/externalversions/network/v1alpha1/gkenetworkparamset.go
  vendor/k8s.io/cloud-provider-gcp/crd/client/network/informers/externalversions/network/v1alpha1/interface.go
  vendor/k8s.io/cloud-provider-gcp/crd/client/network/informers/externalversions/network/v1alpha1/network.go
  vendor/k8s.io/cloud-provider-gcp/crd/client/network/informers/externalversions/network/v1alpha1/networkinterface.go
  vendor/k8s.io/cloud-provider-gcp/crd/client/network/listers/network/v1/expansion_generated.go
  vendor/k8s.io/cloud-provider-gcp/crd/client/network/listers/network/v1/network.go
  vendor/k8s.io/cloud-provider-gcp/crd/client/network/listers/network/v1/networkinterface.go
  vendor/k8s.io/cloud-provider-gcp/crd/client/network/listers/network/v1alpha1/expansion_generated.go
  vendor/k8s.io/cloud-provider-gcp/crd/client/network/listers/network/v1alpha1/gkenetworkparamset.go
  vendor/k8s.io/cloud-provider-gcp/crd/client/network/listers/network/v1alpha1/network.go
  vendor/k8s.io/cloud-provider-gcp/crd/client/network/listers/network/v1alpha1/networkinterface.go
  vendor/modules.txt
Labels: cncf-cla: yes, lgtm, size/XXL, approved, ok-to-test

#2078 Add network package containing the NetworkInfo struct
  pkg/neg/controller.go
  pkg/neg/controller_test.go
  pkg/neg/manager.go
  pkg/neg/manager_test.go
  pkg/neg/syncers/transaction.go
  pkg/neg/syncers/transaction_test.go
  pkg/neg/syncers/utils.go
  pkg/neg/syncers/utils_test.go
  pkg/neg/types/types.go
  pkg/neg/types/types_test.go
  pkg/network/network.go
Labels: cncf-cla: yes, lgtm, size/XL, approved, ok-to-test

#2082 Fix race condition in syncer test
  pkg/neg/syncers/syncer_test.go
Labels: cncf-cla: yes, lgtm, size/S, approved, ok-to-test

#2034 Neg sync metric
  pkg/neg/metrics/neg_metrics_collector.go
  pkg/neg/metrics/syncer_metrics.go
Labels: cncf-cla: yes, size/L, lgtm, approved, ok-to-test

#2085 Change label propagation e2e test to align with label propagation config
  cmd/e2e-test/neg_test.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test

#2086 use cloudbuild to build container images
  cloudbuild.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved

#2089 Add validation for ipv6 only service
  pkg/neg/controller.go
  pkg/neg/controller_test.go
Labels: cncf-cla: yes, size/L, lgtm, approved, ok-to-test

#2068 JSONify healthcheck Description for BackendConfig
  cmd/glbc/main.go
  go.mod
  go.sum
  pkg/healthchecks/healthchecks.go
  pkg/healthchecks/healthchecks_test.go
  pkg/psc/controller.go
  pkg/psc/controller_test.go
  pkg/translator/healthchecks.go
  pkg/utils/healthcheck/healthcheckdesc.go
  pkg/utils/healthcheck/healthcheckdesc_test.go
  vendor/k8s.io/cloud-provider-gcp/providers/gce/gce.go
  vendor/k8s.io/cloud-provider-gcp/providers/gce/gce_fake.go
  vendor/modules.txt
Labels: cncf-cla: yes, size/L, lgtm, approved, ok-to-test

#2049 Degraded mode correctness metrics
  pkg/neg/metrics/metrics.go
  pkg/neg/syncers/transaction.go
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test

#1963 Filter pods that have out of range IP
  pkg/neg/syncers/endpoints_calculator.go
  pkg/neg/syncers/transaction_test.go
  pkg/neg/syncers/utils.go
  pkg/neg/syncers/utils_test.go
  pkg/neg/types/sync_errors.go
Labels: cncf-cla: yes, lgtm, size/XL, approved, ok-to-test

#1966 Filter pods that don't belong to the service in question
  pkg/neg/manager.go
  pkg/neg/syncers/endpoints_calculator.go
  pkg/neg/syncers/endpoints_calculator_test.go
  pkg/neg/syncers/transaction.go
  pkg/neg/syncers/transaction_test.go
  pkg/neg/syncers/utils.go
  pkg/neg/syncers/utils_test.go
  pkg/neg/types/sync_errors.go
Labels: cncf-cla: yes, size/L, lgtm, approved, ok-to-test

#2022 Add clientsets to gke-diagnoser tool
  cmd/gke-diagnoser/app/kube/clientset.go
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test
