Repository kubernetes/ingress-gce, pull requests merged in 2024-08, with the labels that each got.

#2611 Add event handler for SvcNeg on Ingress Controller.
  pkg/common/operator/ingress.go
  pkg/common/operator/ingress_test.go
  pkg/controller/controller.go
Labels: cncf-cla: yes, size/L, lgtm, approved

#2620 Use Premium Network Tier for RXLB
  pkg/loadbalancers/addresses.go
  pkg/translator/translator.go
  pkg/translator/translator_test.go
Labels: cncf-cla: yes, lgtm, size/S, approved

#2618 Release v1.30 -[Cherry-pick #2582 #2610 -> 1.30] Fix instance group size bug and add 2 new metrics to monitor resize events
  pkg/instancegroups/manager.go
  pkg/instancegroups/manager_test.go
  pkg/instancegroups/metrics/metrics.go
  pkg/l4lb/l4netlbcontroller_test.go
  pkg/utils/utils.go
Labels: cncf-cla: yes, size/L, lgtm, approved, ok-to-test

#2621 L4 weighted LB backend locality policy
  pkg/annotations/service.go
  pkg/backends/backends.go
  pkg/backends/backends_test.go
  pkg/l4lb/l4lbcommon.go
  pkg/loadbalancers/l4.go
  pkg/loadbalancers/l4_test.go
  pkg/loadbalancers/l4netlb.go
  pkg/loadbalancers/l4netlb_test.go
Labels: cncf-cla: yes, size/L, lgtm, needs-ok-to-test, approved

#2575 Forward individual ports for NetLB with 5 or less service ports
  pkg/flags/flags.go
  pkg/l4lb/l4netlbcontroller_test.go
  pkg/loadbalancers/forwarding_rules.go
  pkg/loadbalancers/forwarding_rules_ipv6.go
  pkg/loadbalancers/forwarding_rules_test.go
  pkg/utils/utils.go
  pkg/utils/utils_test.go
Labels: cncf-cla: yes, size/L, lgtm, approved, ok-to-test

#2623 Handle ILB Weighted Load Balancing allowlisting
  pkg/loadbalancers/l4.go
Labels: cncf-cla: yes, lgtm, size/S, approved, ok-to-test

#2622 fix: GCE_VM_IP NEGs should be synced on each Node change.
  pkg/neg/manager.go
  pkg/neg/manager_test.go
Labels: cncf-cla: yes, lgtm, size/S, approved

#2463 Separating NEG controller from other controllers
  cmd/glbc/main.go
Labels: cncf-cla: yes, size/L, lgtm, approved, ok-to-test

#2627 [Cherry-pick #2575 -> 1.30] Forward individual ports for NetLB with 5 or less service ports
  pkg/flags/flags.go
  pkg/l4lb/l4netlbcontroller_test.go
  pkg/loadbalancers/forwarding_rules.go
  pkg/loadbalancers/forwarding_rules_ipv6.go
  pkg/loadbalancers/forwarding_rules_test.go
  pkg/utils/utils.go
  pkg/utils/utils_test.go
Labels: cncf-cla: yes, size/L, lgtm, approved, ok-to-test

#2637 Cherry-pick #2622 to release-1.23 - fix: GCE_VM_IP NEGs should be synced on each Node change.
  pkg/neg/manager.go
  pkg/neg/manager_test.go
Labels: cncf-cla: yes, lgtm, size/S, approved, ok-to-test

#2638 Cherry-pick #2622 to release-1.26 - fix: GCE_VM_IP NEGs should be synced on each Node change.
  pkg/neg/manager.go
  pkg/neg/manager_test.go
Labels: cncf-cla: yes, lgtm, size/S, approved, ok-to-test

#2639 Cherry-pick #2622 to release-1.28 - fix: GCE_VM_IP NEGs should be synced on each Node change.
  pkg/neg/manager.go
  pkg/neg/manager_test.go
Labels: cncf-cla: yes, lgtm, size/S, approved, ok-to-test

#2635 Add initial cache sync check
  pkg/l4lb/l4controller.go
  pkg/l4lb/l4controller_test.go
  pkg/l4lb/l4netlbcontroller.go
  pkg/l4lb/l4netlbcontroller_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test

#2643 [Cherrypick #2635 into release-1.30] Add initial cache check sync
  pkg/l4lb/l4controller.go
  pkg/l4lb/l4controller_test.go
  pkg/l4lb/l4netlbcontroller.go
  pkg/l4lb/l4netlbcontroller_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved

#2644 [Cherrypick #2635 into release-1.31] Add initial cache check sync
  pkg/l4lb/l4controller.go
  pkg/l4lb/l4controller_test.go
  pkg/l4lb/l4netlbcontroller.go
  pkg/l4lb/l4netlbcontroller_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved

#2646 Determine zones by querying the SvcNEG CRs
  pkg/e2e/helpers.go
Labels: cncf-cla: yes, lgtm, size/M, approved

#2636 instance group logger
  pkg/backends/ig_linker_test.go
  pkg/backends/integration_test.go
  pkg/backends/regional_ig_linker_test.go
  pkg/context/context.go
  pkg/controller/controller.go
  pkg/controller/controller_test.go
  pkg/instancegroups/controller.go
  pkg/instancegroups/controller_test.go
  pkg/instancegroups/interfaces.go
  pkg/instancegroups/manager.go
  pkg/instancegroups/manager_test.go
  pkg/l4lb/l4netlbcontroller.go
Labels: cncf-cla: yes, size/L, lgtm, approved, ok-to-test

#2651 Make WaitForNegCRs() wait for the SvcNEG to have the "Initialized" condition
  pkg/e2e/helpers.go
Labels: cncf-cla: yes, lgtm, size/S, approved

#2652 Use default LocalityLBPolicy for ILB
  pkg/backends/backends.go
  pkg/backends/backends_test.go
  pkg/loadbalancers/l4.go
  pkg/loadbalancers/l4_test.go
  pkg/loadbalancers/l4netlb_test.go
Labels: cncf-cla: yes, size/L, lgtm, approved, ok-to-test

#2654 Improve backendSvcEqual code for backend service creation
  pkg/backends/backends.go
  pkg/backends/backends_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test
