Repository kubernetes/ingress-gce, pull requests merged in 2024-11, with the labels that each got.

#2719 MSC - Adjust endpoints_calculator.go L4 code to create endpoints in g…
  pkg/neg/syncers/endpoints_calculator.go
  pkg/neg/syncers/endpoints_calculator_test.go
  pkg/neg/syncers/subsets.go
  pkg/neg/syncers/subsets_test.go
  pkg/neg/syncers/transaction_test.go
Labels: cncf-cla: yes, size/L, lgtm, approved

#2722 Refactor AddressManager into pkg/address
  pkg/address/manager.go
  pkg/address/manager_test.go
  pkg/loadbalancers/forwarding_rules.go
  pkg/loadbalancers/forwarding_rules_ipv6.go
  pkg/loadbalancers/l4.go
  pkg/loadbalancers/l4_test.go
  pkg/loadbalancers/l4netlb.go
Labels: cncf-cla: yes, size/L, lgtm, approved, ok-to-test

#2732 Add flag for L4 Mixed Protocol feature
  pkg/flags/flags.go
Labels: cncf-cla: yes, size/L, lgtm, approved, ok-to-test

#2701 Fix small typo in `hack/run-local-glbc.sh`
  hack/run-local-glbc.sh
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test

#2736 Quick fix RXLB transition test by increasing sleep and moving sleep before getting ingress
  cmd/e2e-test/regional_xlb_test.go
Labels: cncf-cla: yes, lgtm, size/S, approved

#2726 Firewall Rules - multi protocol support
  pkg/firewalls/equal.go
  pkg/firewalls/equal_test.go
  pkg/firewalls/firewalls_l4.go
  pkg/firewalls/firewalls_l4_test.go
  pkg/healthchecksl4/healthchecksl4.go
  pkg/healthchecksl4/healthchecksl4_test.go
  pkg/loadbalancers/l4.go
  pkg/loadbalancers/l4_test.go
  pkg/loadbalancers/l4ipv6.go
  pkg/loadbalancers/l4netlb.go
  pkg/loadbalancers/l4netlb_test.go
  pkg/loadbalancers/l4netlbipv6.go
Labels: cncf-cla: yes, lgtm, size/XL, approved, ok-to-test

#2737 Move Equal, EqualIPv6 and Patchable into forwardingrules pkg
  pkg/forwardingrules/equal.go
  pkg/forwardingrules/equal_test.go
  pkg/forwardingrules/patchable.go
  pkg/forwardingrules/patchable_test.go
  pkg/loadbalancers/forwarding_rules.go
  pkg/loadbalancers/forwarding_rules_ipv6.go
  pkg/loadbalancers/forwarding_rules_ipv6_test.go
  pkg/loadbalancers/forwarding_rules_test.go
Labels: cncf-cla: yes, lgtm, size/XXL, approved, ok-to-test

#2738 Add protocol aware GetPorts function
  pkg/forwardingrules/ports.go
  pkg/forwardingrules/ports_test.go
Labels: cncf-cla: yes, size/L, lgtm, approved, ok-to-test

#2730 Remove unnecessary interfaces in pkg/backends
  pkg/backends/backends.go
  pkg/backends/ig_linker.go
  pkg/backends/integration_test.go
  pkg/backends/interfaces.go
  pkg/backends/neg_linker.go
  pkg/backends/regional_ig_linker.go
  pkg/backends/regional_ig_linker_test.go
  pkg/backends/syncer.go
  pkg/backends/syncer_test.go
  pkg/controller/controller.go
  pkg/l4lb/l4controller.go
  pkg/l4lb/l4netlbcontroller.go
  pkg/loadbalancers/l4.go
  pkg/loadbalancers/l4netlb.go
  pkg/loadbalancers/l7.go
Labels: cncf-cla: yes, size/L, lgtm, approved, ok-to-test

#2709 ILB - if wrong subnet specified mark as user error
  pkg/loadbalancers/l4.go
  pkg/loadbalancers/l4_test.go
  pkg/utils/utils.go
Labels: cncf-cla: yes, size/L, lgtm, approved, ok-to-test

#2747 Fix checks if service provisioned by RBS controller
  pkg/l4lb/l4netlbcontroller.go
  pkg/l4lb/l4netlbcontroller_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test

#2739 Add backends.GetProtocol func for mixed protocol
  cmd/glbc/main.go
  pkg/backends/protocol.go
  pkg/backends/protocol_test.go
  pkg/context/context.go
  pkg/l4lb/l4controller.go
  pkg/loadbalancers/l4.go
Labels: cncf-cla: yes, size/L, lgtm, approved, ok-to-test

#2745 Generate ClusterSlice API, clients, informers
  hack/update-codegen.sh
  pkg/apis/clusterslice/register.go
  pkg/apis/clusterslice/v1/doc.go
  pkg/apis/clusterslice/v1/register.go
  pkg/apis/clusterslice/v1/types.go
  pkg/apis/clusterslice/v1/zz_generated.deepcopy.go
  pkg/apis/clusterslice/v1/zz_generated.openapi.go
  pkg/clusterslice/client/clientset/versioned/clientset.go
  pkg/clusterslice/client/clientset/versioned/doc.go
  pkg/clusterslice/client/clientset/versioned/fake/clientset_generated.go
  pkg/clusterslice/client/clientset/versioned/fake/doc.go
  pkg/clusterslice/client/clientset/versioned/fake/register.go
  pkg/clusterslice/client/clientset/versioned/scheme/doc.go
  pkg/clusterslice/client/clientset/versioned/scheme/register.go
  pkg/clusterslice/client/clientset/versioned/typed/clusterslice/v1/clusterslice.go
  pkg/clusterslice/client/clientset/versioned/typed/clusterslice/v1/clusterslice_client.go
  pkg/clusterslice/client/clientset/versioned/typed/clusterslice/v1/doc.go
  pkg/clusterslice/client/clientset/versioned/typed/clusterslice/v1/fake/doc.go
  pkg/clusterslice/client/clientset/versioned/typed/clusterslice/v1/fake/fake_clusterslice.go
  pkg/clusterslice/client/clientset/versioned/typed/clusterslice/v1/fake/fake_clusterslice_client.go
  pkg/clusterslice/client/clientset/versioned/typed/clusterslice/v1/generated_expansion.go
  pkg/clusterslice/client/informers/externalversions/clusterslice/interface.go
  pkg/clusterslice/client/informers/externalversions/clusterslice/v1/clusterslice.go
  pkg/clusterslice/client/informers/externalversions/clusterslice/v1/interface.go
  pkg/clusterslice/client/informers/externalversions/factory.go
  pkg/clusterslice/client/informers/externalversions/generic.go
  pkg/clusterslice/client/informers/externalversions/internalinterfaces/factory_interfaces.go
  pkg/clusterslice/client/listers/clusterslice/v1/clusterslice.go
  pkg/clusterslice/client/listers/clusterslice/v1/expansion_generated.go
  pkg/flags/flags.go
  pkg/multiproject/projectcrd/projectcrd.go
Labels: cncf-cla: yes, lgtm, size/XXL, approved

#2725 Add code for multiproject GCE Client creation
  cmd/glbc/app/clients.go
  go.mod
  go.sum
  pkg/multiproject/gce/gce.go
  pkg/multiproject/gce/gce_test.go
  pkg/multiproject/sharedcontext/sharedcontext.go
  vendor/github.com/go-ini/ini/.editorconfig
  vendor/github.com/go-ini/ini/.gitignore
  vendor/github.com/go-ini/ini/.golangci.yml
  vendor/github.com/go-ini/ini/LICENSE
  vendor/github.com/go-ini/ini/Makefile
  vendor/github.com/go-ini/ini/README.md
  vendor/github.com/go-ini/ini/codecov.yml
  vendor/github.com/go-ini/ini/data_source.go
  vendor/github.com/go-ini/ini/deprecated.go
  vendor/github.com/go-ini/ini/error.go
  vendor/github.com/go-ini/ini/file.go
  vendor/github.com/go-ini/ini/helper.go
  vendor/github.com/go-ini/ini/ini.go
  vendor/github.com/go-ini/ini/key.go
  vendor/github.com/go-ini/ini/parser.go
  vendor/github.com/go-ini/ini/section.go
  vendor/github.com/go-ini/ini/struct.go
  vendor/modules.txt
Labels: cncf-cla: yes, lgtm, size/XXL, approved

#2743 Add L3 support for Forwarding rule namer
  pkg/utils/namer/l4_namer.go
  pkg/utils/namer/l4_namer_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test

#2746 Add forwardingrules.GetILBProtocol func for mixed protocol
  pkg/forwardingrules/protocol.go
  pkg/forwardingrules/protocol_test.go
  pkg/loadbalancers/forwarding_rules.go
Labels: cncf-cla: yes, size/L, lgtm, approved, ok-to-test

#2749 Add L3 forwarding rules annotations and fix transitions
  pkg/annotations/service.go
  pkg/loadbalancers/l4.go
  pkg/loadbalancers/l4syncresult.go
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test

#2751 Firewall Allowed for ILB mixed protocol
  pkg/loadbalancers/l4.go
Labels: cncf-cla: yes, lgtm, size/S, needs-ok-to-test, approved
